html {
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: oxygen;
    src: url('font/Oxygen-Regular.ttf');
}

body {
	background: url('img/back2.jpg') 0 0 / 100% 100%;
	font-family: oxygen;
	overflow: hidden;
	text-align: center;
}

#click-div-group {
	position: absolute;
	bottom: 5%;
	width: 98%;
}

.click-div {
	position: relative;
	float: left;
	width: 15%;
	font-size: 28px;
	position: relative;
	transition: all 1s ease;
	border-radius: 50% 50%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	padding:  0 0 0;
	z-index: 0;
	background-color: rgb(255, 255, 255);
	color: black;
	overflow: hidden;
}

.openup {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: 5;
	transition: all .4s ease;
}

.click-div:hover .openup {
	height: 101%;
	width: 101%;
	top: 0%;
	left: 0%;
}

.content {
  position: absolute;
  font-size: 15vmin;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.click-div:hover {
	cursor: pointer;
}

#display {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
  text-align: center;
  font-size: 37.5vmin;
  transition: all .5 ease;
}

#openup-1 {
	background-color: #F7CA18;
}

#openup-2 {
	background-color: #4183D7;
}

#openup-3 {
	background-color: #2ECC71;
}

#openup-4 {
	background-color: #F22613;
}

#display-content {
	transition: all .25s ease;
	color: white;
}

.invisible {
	opacity: 0;
}

.pimg {
	width: 100%;
	height: 100%;
  transition: all .5s ease;
}

#image-group-1 {
	left: 0;
}

#image-group-2 {
	right: 0;
}

#game-div {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	transition: all 1s ease;
}

#start-div {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	transition: all 1s ease;
}

#title {
	width: 45%;
	position: absolute;
	left: 20%;
	top: 15px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
	transition: all 1s ease-out;
	max-width: 400px;
}

#rules {
	background: rgb(255, 255, 255);
	width: 50%;
	margin-left: calc(10% - 30px);
	padding: 15px;
	border-radius: 20px;
	position: absolute;
	bottom: 8%;
}

.image-group {
  position: absolute;
  height: 50%;
  width: 30%;
  top: 0;
}

.win {
	width: 100%;
	position: relative;
	bottom: 40px;
}

#start-button {
	position: absolute;
	color: black;
	background-color: white;
	border: 0px solid red;
	border-radius: 10px;
	width: 18%;
	height: 60px;
	font-size: 20px;
	max-width: 150px;
	bottom: 10%;
	right: 12%;
	min-width: 80px;
	transform: translate(0, -50%);
	z-index: 10;
	transition: all 1s ease;
}

#start-button:hover {
	background-color: black;
	color: white;
}

#loading-img {
	width: 100px;
	height: 100px;
}

#game-details {
	position: absolute;
	width: 20%;
	left: 40%;
	color: white;
}

#you-are {
	
}

#target {

}

#turn {
	
}

#leaderboard {
	position: absolute;
	width: 25%;
	right: 5%;
	border-radius: 10px;
	top: 0%;
	background-color: #19B5FE;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 3px;
}

#leaderboard-title {
	color: white;
	width: 95%;
	left: 2.5%;
	position: relative;
}

table, tr, td {
	border: 0px;
}

tr:first-child {
	background: #19B5FE;
	color: white;
}

tr {
	background: white;
}

tr:hover:not(:first-child) {
	background-color: black;
	color: white;
}

#leaderboard-table {
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	background: #19B5FE;
}

@media all and (max-width: 650px) {
	#leaderboard { opacity: 0; }
}